.profile-container {
  background-color: #F9F9F9;
  padding-top: 90px;
  &.rtl {
    text-align: right;
    main {
      margin-right: 240px;
      margin-left: 60px;
      &.unpushed {
        margin-right: 120px
      }
    }
  }
}

main {
  margin-left: 240px;
  margin-right: 60px;
  margin-bottom: 40px;
  transition: all 0.3s ease 0s;
  &.unpushed {
    margin-left: 120px
  }
}
