<c-panel iconClass="simple-icon-info" [title]="'Buy Message'" *transloco="let t">

  <div class="row">

    <div class="col-6 form-group">
      <c-select label="{{t('CenterName')}}" [data]="operators" valueFieldName="id" placeholder=" " fieldName="title">

      </c-select>
    </div>


    <div class="col-6 form-group disabled">
      <c-input label="{{t('MaxChar')}}" placeholder="" type="text">

      </c-input>

    </div>
    <div class="col-6 form-group disabled">
      <c-input label="{{t('Price')}}" placeholder="" value="" type="text">

      </c-input>
    </div>





    <div class="col-6 form-group">

      <c-button (click)="addSmsPrice()" class="filter mr-2 ml-2" [isFlat]="true" color="blue">
        Add SMS Price
      </c-button>
    </div>


  </div>
</c-panel>


<div id="admission-information"> </div>
<div id="contact-information"> </div>
<div class="my-5"> </div>
