<div class="row" *transloco="let t">
    <div class="col-6 ">
        <c-input label="{{t('Title')}}" placeholder="" [(value)]="baseValueType.typeName" type="text">

        </c-input>

    </div>
    <div class="col-6">
        <c-input label="{{t('UniqueName')}}" [(value)]="baseValueType.uniqueName" placeholder="" value="" type="text">

        </c-input>
    </div>
    <div class="col-12">
        <c-tree [data]="baseValueType.baseValues" fieldName="title" childrenFieldName="children"
            searchFieldTitle="title">

        </c-tree>
    </div>
    <div class="col-12 form-group">
        <c-button label="{{t('Save')}}" (click)="save()" [isFlat]="true" color="orange" type="text" enabled="false">

        </c-button>
    </div>


</div>
