<ng-container *transloco="let t">
<div class="row">
    <h1 class="main-title">
      {{t('CenterManagement')}}
    </h1>
    <hr />
</div>
<div class="row">
    <app-center-info [medicalCenter]="center" style="width: 100%"></app-center-info>
</div>
<div class="row">

    <aside class="sidebar col-lg-3 col-md-3 col-sm-12 px-0 my-3">
        <div>
            <ul>
                <li class="panel-group has-child mb-0" [ngClass]="{'selected': page==0}">

                    <a (click)="setPage(0)"> {{t('CenterInformation')}}
                    </a>
                </li>
                <li class="panel-group mb-0" [ngClass]="{'selected' :page==1}">
                    <a (click)="setPage(1)" href="#" data-toggle="collapse" aria-expanded="false" class="collapsed">
                      {{t('Department')}} </a>
                </li>
                <li class="panel-group mb-0" [ngClass]="{'selected':page==2}">
                    <a (click)="setPage(2)" href="#" data-toggle="collapse" aria-expanded="false" class="collapsed">
                      {{t('Treatments')}} </a>
                </li>
                <li class="panel-group mb-0" [ngClass]="{'selected':page==3}">
                    <a (click)="setPage(3)" href="#" data-toggle="collapse" aria-expanded="false" class="collapsed">
                      {{t('Personnel')}} </a>
                </li>
            </ul>
            <div class="back"> </div>
        </div>
    </aside>
    <section class="col-lg-9 col-md-7 my-3">
        <app-edit-center *ngIf="page==0" [medicalCenter]="center"></app-edit-center>
        <app-center-sections *ngIf="page==1" [medicalCenter]="center"></app-center-sections>
        <app-add-center-spaciality *ngIf="page==2" [medicalCenter]="center"></app-add-center-spaciality>
        <app-center-staffs *ngIf="page==3" [medicalCenter]="center"></app-center-staffs>

    </section>


</div>
</ng-container>
