.rtl {
  &.main-container {
    main {
      margin-right: 180px;
      margin-left: 60px
    }
  }
}

.main-container {
  background: #F9F9F9;
  padding-top: 145px
}

main {
  margin-right: 60px;
  margin-bottom: 40px;
  margin-left: 180px
}
