<div class="row" *transloco="let t">
    <div class="col-12 ">
        <ng-container *ngIf="parentSpeciality!=null">
            <c-input label="{{t('ParentLocation')}}" placeholder="" [(value)]="parentSpeciality.title" type="text"
                [enabled]="false">

            </c-input>
        </ng-container>
    </div>
    <div class="col-6 ">
        <c-input label="{{t('Title')}}" placeholder="" [(value)]="speciality.title" type="text">

        </c-input>

    </div>
    <div class="col-6">
        <c-input label="Title 2(Arabic)" [(value)]="speciality.titleLang2" placeholder="" value="" type="text">

        </c-input>
    </div>
    <div class="col-12 form-group">
        <c-button label="{{t('Save')}}" (click)="save()" [isFlat]="true" color="orange" type="text" enabled="false">

        </c-button>
    </div>


</div>
