.div-submit {
  display: inline;
}

.my-drop-zone {
  border: dotted 3px lightgray;
}

.nv-file-over {
  border: dotted 3px red;
}

/* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}

.filter-area {
  --color-000000-a7: rgba(0, 0, 0, 0.07);
  --color-secondary: #FFA400;
  --color-tertiary: #607D8B;
  --color-fourth: #EFEFEF;
  --color-fifth: #BEBEBE;

  --shadow-primary: 0 30px 30px -20px rgba(0, 0, 0, 0.07);
  --shadow-secondary: 0 10px 15px -10px var(#FFA400);

  --gradient-primary: linear-gradient(253.51deg, #1DE8B5 4.05%, #45B69C 95%);
  --gradient-secondary: linear-gradient(255.21deg, var(--color-secondary) 4.05%, #FF6F00 110.72%);
  --gradient-tertiary: linear-gradient(42.88deg, #5C92AC 24.25%, #365E7D 91.72%);

  ul li:first-child {
    border-right: 1px solid #EFEFEF;

  }

  button {
    font-size: 18px !important;
    border-radius: 10px !important;
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }

  button[data-action='submit'] {
    color: #FFF !important;
    background: var(--gradient-secondary) !important;
    box-shadow: var(--shadow-secondary) !important;

  }
}



.uploader {
  padding: 32px;
  margin-top: 16px;

  border: 1px dashed #BEBEBE;
  box-sizing: border-box;
  border-radius: 15px;
  position: relative;

  .dragdrop {
    position: absolute;
    left: 45%;
    top: 45%;
    color: #607D8B;

  }
}

.file-item {
  box-shadow: 0px 15px 25px -48px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  background: #FFF;

  img {
    width: 100%;
  }

  .title {
    text-overflow: ellipsis;
    color: #607D8B;
  }

  .date {
    color: #BEBEBE;
  }
}
