<c-panel [iconClass]="'far fa-user'" [title]="'Personal Information'" *transloco="let t">

    <c-input label="{{t('FirstName')}}:" [isRequired]="true">

    </c-input>
    <c-input label="{{t('LastName')}}:">

    </c-input>
    <c-input label="{{t('FatherName')}}:">

    </c-input>
</c-panel>
<c-panel [iconClass]="'far fa-user'" [title]="'Personal Information'">

    <h1>this is test panel</h1>
    <br />
    <h1>this is test panel</h1>
    <br />
    <h1>this is test panel</h1>
    <br />
    <h1>this is test panel</h1>
    <br />
    <h1>this is test panel</h1>
</c-panel>
