.css-sprite {
  vertical-align: sub;
  background-image: url('/assets/img/css-sprite.png');
  display: inline-block;
  margin-right: 0.2rem;
  margin-left: 0.2rem
}
.css-sprite.icon-brain { width: 15px; height: 15px; background-position: 0 0 }
.css-sprite.icon-eye-2 { width: 20px; height: 15px; background-position: -15px 0 }
.css-sprite.icon-hair { width: 15px; height: 15px; background-position: -35px 0 }
.css-sprite.icon-heart { width: 18px; height: 15px; background-position: -50px 0 }
.css-sprite.icon-kidney { width: 20px; height: 15px; background-position: -68px 0 }
.css-sprite.icon-germany { width: 20px; height: 20px; background-position: 0 20px }
.css-sprite.icon-iraq { width: 20px; height: 20px; background-position: -20px 20px }
.css-sprite.icon-uk { width: 20px; height: 20px; background-position: -40px 20px }
.icon-arrow-right:before { content: '\e900' }
.icon-arrow-down:before { content: '\e901' }
.icon-arrow-left:before { content: '\e902' }
.icon-arrow-full:before { content: '\e903' }
.icon-arrow-sq:before { content: '\e93b' }
.icon-bell:before { content: '\e905' }
.icon-bullet:before { content: '\e904' }
.icon-calendar:before { content: '\e906' }
.icon-cash:before { content: '\e907' }
.icon-circle:before { content: '\ea56' }
.icon-close:before { content: '\e90d' }
.icon-comment:before { content: '\e93d' }
.icon-dot:before { content: '\e908' }
.icon-edit:before { content: '\e93e' }
.icon-eye:before { content: '\e909' }
.icon-eye-2:before { content: '\e93f' }
.icon-filter:before { content: '\e90a' }
.icon-gallery:before { content: '\e90b' }
.icon-global:before { content: '\e90c' }
.icon-global-2:before { content: '\e90e' }
.icon-gps:before { content: '\e90f' }
.icon-heart-2:before { content: '\e910' }
.icon-hospital:before { content: '\e911' }
.icon-hospital-2:before { content: '\e912' }
.icon-hospital-3:before { content: '\e913' }
.icon-info:before { content: '\e935' }
.icon-info-2:before { content: '\e914' }
.icon-light:before { content: '\e915' }
.icon-list:before { content: '\e916' }
.icon-location:before { content: '\e917' }
.icon-location-2:before { content: '\e918' }
.icon-location-3:before { content: '\e919' }
.icon-login:before { content: '\e91a' }
.icon-logo:before { content: '\e91b' }
.icon-man:before { content: '\e91c' }
.icon-menu:before { content: '\e936' }
.icon-menu-2:before { content: '\e91d' }
.icon-microscope:before { content: '\e91e' }
.icon-moon:before { content: '\e91f' }
.icon-moon-2:before { content: '\e920' }
.icon-ok:before { content: '\e921' }
.icon-phone:before { content: '\e922' }
.icon-phone-2:before { content: '\e923' }
.icon-pill:before { content: '\e924' }
.icon-question:before { content: '\e925' }
.icon-radiology:before { content: '\e926' }
.icon-reception:before { content: '\e927' }
.icon-resize:before { content: '\e937' }
.icon-review:before { content: '\e928' }
.icon-search:before { content: '\e929' }
.icon-setting:before { content: '\e938' }
.icon-sex:before { content: '\e92a' }
.icon-shape:before { content: '\e92b' }
.icon-share:before { content: '\e92c' }
.icon-sort:before { content: '\e92d' }
.icon-star:before { content: '\e92e' }
.icon-star-2:before { content: '\e92f' }
.icon-star-2-fill:before { content: '\e930' }
.icon-stethoscope:before { content: '\e931' }
.icon-sun:before { content: '\e932' }
.icon-time:before { content: '\e933' }
.icon-time-2:before { content: '\e934' }
.icon-upload:before { content: '\e93c' }
.icon-user:before { content: '\e939' }
.icon-user-2:before { content: '\e93a' }
.icon-whatsapp:before { content: '\e940' }
.icon-woman:before { content: '\e941' }
